@import "../../styles/variables.scss";

.film-container {
  min-width: 320px;
  width: calc(25% - 8px);
  height: 400px;
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
  text-align: center;
  margin: 4px;

  .favourite-icon {
    width: 30px;
    fill: $secondary-color;
    margin-top: 16px;
  }

  .unFavourite-icon{
    width: 30px;
    fill: red;
    margin-top: 16px;
  }

  h2 {
    min-height: 70px;
  }
}
